In [1]:
import pandas as pd
import os

In [2]:
# Получите текущий каталог блокнота Jupyter
current_dir = os.getcwd()

# Сформируйте путь к файлу CSV относительно текущего каталога
csv_path = os.path.join(current_dir, '../SRC/Parsing/Results/Data/all_cars.csv')

In [3]:
df = pd.read_csv(csv_path)

In [8]:
df.shape

(376094, 39)

In [9]:
df.head()

,brand,model,year,generation,engine_type,drive_type,transmission,engine_capacity_liters,engine_capacity_cubic,engine_power,...,owners,pts,days_on_sale,seller,price_segment,start_sales,end_sales,price_pred_from,price_pred_to,id;
0,LADA (ВАЗ),Granta,2018,I Рестайлинг,GASOLINE,FORWARD_CONTROL,MECHANICAL,1.6,1596,87,...,2,ORIGINAL,1,PRIVATE,ECONOMY,2018,NaN,NaN,NaN,1119922415-692bca60;
1,LADA (ВАЗ),Granta,2018,I Рестайлинг,GASOLINE,FORWARD_CONTROL,MECHANICAL,1.6,1596,87,...,1,ORIGINAL,16,COMMERCIAL,ECONOMY,2018,NaN,596000.0,614000.0,1119740369-33477ff9;
2,LADA (ВАЗ),Granta,2018,I Рестайлинг,GASOLINE,FORWARD_CONTROL,MECHANICAL,1.6,1596,87,...,2,ORIGINAL,2,COMMERCIAL,ECONOMY,2018,NaN,484000.0,505000.0,1119914087-8895f380;
3,LADA (ВАЗ),Granta,2018,I Рестайлинг,GASOLINE,FORWARD_CONTROL,MECHANICAL,1.6,1596,87,...,1,ORIGINAL,3,COMMERCIAL,ECONOMY,2018,NaN,533000.0,550000.0,1119899236-76599a34;
4,LADA (ВАЗ),Granta,2018,I Рестайлинг,GASOLINE,FORWARD_CONTROL,ROBOT,1.6,1596,106,...,1,ORIGINAL,53,COMMERCIAL,ECONOMY,2018,NaN,610000.0,628000.0,1119326437-de9d1a40;

In [4]:
df['id;'].nunique()

96981

In [5]:
duplicate_rows = df[df.duplicated(subset=['id;'], keep=False)]

In [6]:
duplicate_rows.count()

brand                     330582
model                     330582
year                      330582
generation                263460
engine_type               330582
drive_type                330582
transmission              330582
engine_capacity_liters    330582
engine_capacity_cubic     330582
engine_power              330582
availability              330578
mileage                   330582
color                     330582
car_type                  330582
condition                 330582
price                     330582
prise_usd                 330582
price_euro                330582
tax                       324998
region                    330582
car_class                 329627
body_type                 330582
doors_count               330582
trunk_volume              259991
steering_wheel            330582
clearance                 321856
acceleration              304681
vendor                    330582
customs_cleared           330582
owners                    330582
pts                       323005
days_on_sale              330582
seller                    330582
price_segment             330582
start_sales               330582
end_sales                 228075
price_pred_from           289647
price_pred_to             289696
id;                       330582
dtype: int64